$primary-color: #0099FF
$text-color: #111
$font-family: 'Source Sans Pro', sans-serif
$breakpoint-tablet: 768px

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap')

body
    color: $text-color
    font-family: $font-family
    background-color: white
    margin: 0
    padding: 0

    nav
        width: calc(100% - 16px)
        height: 64px
        position: fixed
        top: 0
        left: 0
        background-color: $primary-color
        color: white
        display: flex
        align-content: center
        padding: 0 0 0 16px
        z-index: 999

        a
            color: white
            text-decoration: none
            &:hover
                text-decoration: underline

        ul
            display: flex
            justify-content: center
            align-items: center
            padding: 0px
            margin: 0px 0px 0px 16px
            list-style-type: none

            li
                padding: 0px 16px

    #hamburger
        position: fixed
        top: 64px
        height: 48px
        width: 80px
        background-color: white
        transition: right 0.2s
        border-radius: 32px 0px 0px 32px
        padding: 0px 0px 0px 4px
        box-shadow: -8px 3px 10px -3px rgba(0,0,0,0.2)
        cursor: pointer

        #arrow
            margin: 0 8px 0 0
            transform: scale()

    main
        display: grid
        grid-template-columns: auto auto
        padding: 64px 0 0 0

        p
            margin: 32px

        article
            padding: 16px
            height: calc(100vh - 96px)
            overflow-y: auto

            h1
                color: $primary-color
                font-weight: bold
                font-size: 3rem
                margin: 12px 0 8px 0

            h2
                color: $text-color
                margin: 24px 0 8px 0

            h3
                color: $text-color
                margin: 24px 0 8px 0

            h4
                color: $text-color
                font-weight: bold
                font-size: 1.25 rem
                margin: 24px 0 8px 0

            h5
                color: $text-color
                margin: 24px 0 8px 0

            h6
                color: $text-color
                margin: 24px 0 8px 0

            p
                color: $text-color
                margin: 4px 0
                font-size: 1 rem

            code
                font-family: $font-family
                color: $primary-color

        aside
            height: calc(100vh - 96px)
            padding: 16px
            transition: width 0.37s
            transition: box-shadow 0.5s
            overflow-y: auto

            ul
                list-style-type: none
                padding: 0

                li
                    margin: 4px 0

                    a
                        color: $primary-color
                        text-decoration: none
                        &:hover
                            text-decoration: underline

    footer
        width: 100vw
        padding: 16px 32px
        background-color: $primary-color
        color: white
        flex-shrink: 0

        ul
            list-style-type: none
            display: grid
            padding: 0
            @media screen and (min-width: $breakpoint-tablet)
                grid-template-columns: auto auto auto
                justify-content: space-around
            @media screen and (max-width: $breakpoint-tablet)
                grid-template-columns: auto

            li
                @media screen and (min-width: $breakpoint-tablet)
                    width: 200px
                    grid-template-columns: auto auto auto
                    text-align: center
                    justify-content: space-around
                @media screen and (max-width: $breakpoint-tablet)
                    grid-template-columns: auto

                a
                    text-decoration: none
                    color: white
                    &:hover
                        text-decoration: underline
